<% if (!currentUser) { %>
            <!-- show only post -->
    <h4><%= post.title %></h4><span>author:<%= post.author.username %></span>
    <p class="post">
        <%= post.post %>
    </p>
<% } else if(currentUser) { %>    
         <!-- show post and check if user is author -->
    <h4><%= post.title %></h4><span>author:<%= post.author.username %></span>
    <p class="post">
        <%= post.post %>
    </p>
    <% if (currentUser._id !== post.id) { %>              <!-- for user not equal to author -->
        <!-- code of the post like and unlike button starts here -->
            <!-- convert array of objects to array of strings -->
        <% let likeArr = []; %>
        <% post.likes.forEach(like =>{ %>
            <%  likeArr.push(like.toString()) %>
        <% }) %>
        <!-- check if currentuser is included in the array user liked     -->
        <%  if (likeArr.includes(currentUser.id)) {  %>
            <a href="/post/<%= post.id %>/unlike"> Unlike</a> <span> post.likes.length</span><!-- if true show unlike button -->
        <% } else { %>
            <a href="/post/<%= post.id %>/like"> like </a> <span> post.likes.length</span>     <!-- if false showm like button -->
        <% } %>
    <% } %>
        <!-- code for post like and unlike button ends here -->
<% if (currentUser.id == post.author.id) { %>      <!-- for user is equal to author -->
    <h4><%= post.title %></h4><span>author:<%= post.author.username %></span>
    <p class="post">
        <%= post.post %>
    </p>
        <!-- convert array of objects to array of strings -->
        <% let likeArr = []; %>
        <% post.likes.forEach(like =>{ %>
            <%  likeArr.push(like.toString()) %>
        <% }) %>
        <!-- check if currentuser is included in the array user liked     -->
        <%  if (likeArr.includes(currentUser.id)) {  %>
            <a href="/post/<%= post.id %>/unlike"> Unlike</a> <span> post.likes.length</span><!-- if true show unlike button -->
        <% } else { %>
            <a href="/post/<%= post.id %>/like"> like </a> <span> post.likes.length</span>     <!-- if false showm like button -->
        <% } %>
    <p>
    <a href="/post/<%= post.id %>/update">Edit</a>
    <a href="/post/<%= post.id %>/delete">Delete</a>
</p>
<% }  %>
<% }  %>

















<!-- post section starts here -->
<h3>Post</h3>
<main class="post-container">
        <h4>
                <%= post.title %>
            </h4>
            <p class="post">
                <%= post.post %>
            </p>
            <p>
                <a href="/post/<%= post.id %>/update">Edit</a>
                <a href="/post/<%= post.id %>/delete">Delete</a>
            </p>
            <h5>author:
                <%= post.author.username %>
            </h5>
        </main>
<!-- post section ends here -->


<!-- comment section starts here  -->
<h3>Comments</h3>
<% if (!currentUser) { %>
    <main class="comment-container">
        <% post.comments.forEach(comment =>{ %>
            <li>
                <%= comment.body %>
                <p>by:
                    <%= comment.author.username %>
                </p>
            </li>
        <% }) %>
    </main>
    <% } else if(currentUser) { %>
        <% if (currentUser.id == post.author.id) { %>
            <main class="comment-container">
            <% post.comments.forEach(comment =>{ %>
        <li>
            <%= comment.body %>
        <p>
            by:
            <%= comment.author.username %>
            <!-- code of the comment like and unlike button starts here -->
            <% if (currentUser._id !== comment.id) { %>
            <% let commentLikeArr = []; %>
            <% comment.likes.forEach(like =>{ %>
                <%  commentLikeArr.push(like.toString()) %>
                <% }) %>
                <%  if (commentLikeArr.includes(currentUser.id)) {  %>
            <a href="/post/<%= post.id %>/comment/<%= comment.id %>/unlike"> Unlike</a>
            <% } else { %>
            <a href="/post/<%= post.id %>/comment/<%= comment.id %>/like"> like</a>
            <% } %>
            <% } %>
            <% if (comment.likes.length < 2 ) { %>
            <p>like:<a href="/post/<%= post.id %>/comment/<%= comment.id %>/likes">
                <%= comment.likes.length %></a></p>
                <% } else { %>
            <p>likes:<a href="/post/<%= post.id %>/comment/<%= comment.id %>/likes">
                <%= comment.likes.length %></a></p>
                <% } %>
            </main>
                <!-- code for comment like and unlike button ends here -->
            <% if (currentUser.id == comment.author.id) { %>
            <a href="/post/<%= post.id %>/comment/<%= comment.id %>/edit">Edit</a>
            <a href="/post/<%= post.id %>/comment/<%= comment.id %>/delete">Delete</a>
            <% } %>
        </p>
    </li>
    <% }) %>
    <form action="/post/<%= post.id %>/comment" method="post">
        <textarea class="comment" type="text" placeholder="Enter your comment" name="comment[body]" id="text" rows="10"
            cols="40"></textarea>
            <button type="submit">Submit</button>
    </form>
    <% } else if (currentUser.id !== post.author.id ) { %>
        <% post.comments.forEach(comment =>{ %>
            <li>
                <%= comment.body %>
                <p>
            by:
            <%= comment.author.username %>
            <!-- code of the comment like and unlike button starts here -->
            <% if (currentUser._id !== comment.id) { %>
                <% let commentLikeArr = []; %>
            <% comment.likes.forEach(like =>{ %>
                <%  commentLikeArr.push(like.toString()) %>
                <% }) %>
            <%  if (commentLikeArr.includes(currentUser.id)) {  %>
                <a href="/post/<%= post.id %>/comment/<%= comment.id %>/unlike"> Unlike</a>
                <% } else { %>
            <a href="/post/<%= post.id %>/comment/<%= comment.id %>/like"> like</a>
            <% } %>
            <% } %>
            <% if (comment.likes.length < 2 ) { %>
            <p>like:<a href="/post/<%= post.id %>/comment/<%= comment.id %>/likes">
                <%= comment.likes.length %></a></p>
            <% } else { %>
                <p>likes:<a href="/post/<%= post.id %>/comment/<%= comment.id %>/likes">
                    <%= comment.likes.length %></a></p>
            <% } %>
            <!-- code for comment like and unlike button ends here -->
            <% if (currentUser.id == comment.author.id) { %>
            <a href="/post/<%= post.id %>/comment/<%= comment.id %>/edit">Edit</a>
            <a href="/post/<%= post.id %>/comment/<%= comment.id %>/delete">Delete</a>
            <% } %>
        </p>
    </li>
    <% }) %>
    <form action="/post/<%= post.id %>/comment" method="post">
        <textarea class="comment" type="text" placeholder="Enter your comment" name="comment[body]" id="text" rows="10"
        cols="40"></textarea>
        <button type="submit">Submit</button>
    </form>
    <% }  %>
    <% }  %>